.container{
	display:flex;
	justify-content:center;
}

.table{
	padding:10px;
	border: 1px solid gray;
	border-radius: 5px;
}

.nameTable{
	border-collapse: collapse;
	border: 1px solid #555555;
}

.nameTableHeader{
	text-align:center;
	background: #B5B5B5;
	border-bottom: 1px solid #555555;
	padding: 2px;
}

.nameTableFooter{
	text-align:center;
	background: #B5B5B5;
	border-bottom: 1px solid #555555;
	padding: 2px;
}


.nameTableOddRow{
	text-align: center;
	background: #FFFFFF;
}

.nameTableEvenRow{
	text-align:center;
	background: #D3D3D3;
}

.button{
	margin:10px;
}

